body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}

header {
  background-color: rgb(140, 0, 255);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(140, 0, 255);
  border: 1px solid rgb(140, 0, 255);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(140, 0, 255);
}

.btn:hover {
  background-color: rgb(79, 10, 190);
  border-color: rgb(79, 10, 190);
}

.btn-alt:hover {
  background-color: rgb(245, 232, 255);
  border-color: transparent;
}

aside {
  position: fixed;
  top: 20%;
  left: calc(50% - 20rem);
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem 0;
  font-weight: bold;
}

.form-control input {
  font: inherit;
  border: 1px solid rgb(204, 204, 204);
}

#game-config {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}

#game-config ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#game-config li {
  margin: 1rem;
  padding: 1rem;
  width: 50%;
  background-color: rgb(243, 227, 255);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-config h2 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

#game-config p {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(47, 4, 82);
  margin: 0.5rem 0;
}

#game-config h3 {
  font-size: 1.5rem;
  margin: o.5rem 0;
  color: rgb(94, 4, 168);
}

#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: none;
}

#active-game article {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgb(50, 5, 87);
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgb(50, 5, 87);
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

#game-over h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: rgb(50, 5, 87);
}

#game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: 0.5rem;
}

#game-board li {
  border-radius: 2px;
  background-color: rgb(215, 187, 247);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: rgb(112, 13, 204);
}

#game-board li.disabled {
  background-color: rgb(112, 13, 204);
  cursor: default;
  color: white;
}

#game-board li.disabled:hover {
  background-color: rgb(112, 13, 204);
}

.error input {
  border-color: rgb(135, 2, 2);
  color: rgb(135, 2, 2);
  background-color: rgb(253, 219, 219);
}

.error label {
  color: rgb(135, 2, 2);
}
